<p id="notice"><%= notice %></p>

<h1>Doggone Posts</h1>

<% @posts.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |post| %>
      <div class="col-md-4">
        <%= image_tag post.picture_url, width: '100%' if post.picture.present?%>
        <h4><%= link_to post.name, post %></h4>
        <%= post.description %>
      </div>
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
    <% end %>
  </div>
<% end %>